# Add any directories, files, or patterns you don't want to be tracked by version control

/api/node_modules
.idea/
*.psd

qalarsmm-api/node_modules/
qalarsmm-api/publisher/public/images/
qalarsmm-api/feeds/public/giphy/
qalarsmm-api/publisher/public/videos/
qalarsmm-api/publisher/public/thumbnails/
qalarsmm-api/feeds/public/flickr/
qalarsmm-api/feeds/public/imgur/
qalarsmm-api/feeds/public/pixabay/

qalarsmm-api/user/node_modules/
qalarsmm-api/library/node_modules/
qalarsmm-api/feeds/node_modules/
qalarsmm-api/publish/node_modules/
qalarsmm-api/notification/node_modules/

qalarsmm-api/user/public/logs/
qalarsmm-api/publish/public/logs/
qalarsmm-api/feeds/public/logs/
qalarsmm-api/notification/public/logs/

qalarsmm-api/feeds/public/flickr/
qalarsmm-api/feeds/public/giphy/
qalarsmm-api/feeds/public/imgur/
qalarsmm-api/feeds/public/pixabay/

qalarsmm-api/publish/public/images/
qalarsmm-api/publish/public/thumbnails/
qalarsmm-api/publish/public/videos/

qalarsmm-api/user/coverage/
qalarsmm-api/Chat

qalarsmm-api/Admin/node_modules
qalarsmm-api/Admin/package-lock.json

qalarsmm-web-php/storage/uploadimages/
qalarsmm-web-php/storage/uploadvideos/


qalarsmm-web-php.rar


# --------------------- V5 Ignore ---------------
# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/

*.zip

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
#dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

qalarsmm-api/Notification/package-lock.json

# Docker development files
docker/.env
docker/data
docker/init-mongo.js
docker-dev-build.sh
docker/nginx/ssl/cert.pem
docker/nginx/ssl/key.pem

# Ansible development files
ansible/inventory.yml
ansible/roles/socio-env/files/docker.env
ansible/vars/config.yml
